<div class="container">
  <form class="text-center" #formReview="ngForm">
    <div>
      <label for="username">Username:</label>
      <br>
      <input type="text" id="username" name="username" required [(ngModel)]="review.username">
      <br>
      <label for="rating">Rating:</label>
      <br>
      <input type="number" min="1" max="5" required [(ngModel)]="review.rating">
      <br>
      <label for="review">Review:</label>
      <br>
      <textarea name="review" id="review" cols="15" [(ngModel)]="review.review"></textarea>
    </div>
    <div class="form-buttons d-flex flex-direction-row justify-content-between">
      <button (click)="addReview()" class="btn btn-success" [disabled]="formReview.invalid">Submit review</button>
      <button (click)="cancelAddingReview()" class="btn btn-danger">Cancel</button>
    </div>
  </form>
</div>
