<nav class="navbar navbar-nav bg-danger">
  <div class="container">
  <i class="navbar-brand fa fa-solid fa-film text-white"></i>
  <ul class="navbar-nav me-auto d-flex flex-row align-items-center list-unstyled">
    <li class="nav-item me-3 mt-2">
      <a href="#" class="nav-link active text-white h5">Home</a>
    </li>
    <li class="nav-item me-3 mt-2">
      <a href="/favorites" class="nav-link text-white h5">Favorites</a>
    </li>
    <li class="nav-item me-3 mt-2 search-input">
      <i class="fa fa-solid fa-search text-danger"></i><input type="text" placeholder="Search" class="search-input">
    </li>
  </ul>
  </div>
</nav>
