.review-button {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}

.review-button:hover {
  color: lightcoral;
}

.container {
  z-index: auto;
}

@keyframes dropdown {
  from {
    height: 0px;
  }
  to {
    height: auto;
  }
}

.container-dropdown {
  animation-name: dropdown;
  animation-duration: 1s;
}
